<div class="footer">
  <div class="footer-links">
    <a href="https://www.linkedin.com/in/aminbouhassoune/" target="_blank"><%= image_tag "images/linkedin.svg" %></a>
  </div>
  <div class="footer-copyright">
    Vous voulez le même ? Contactez-moi.
  </div>
</div>
