<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/logo-ab.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

  <!--   <a href="" class="navbar-wagon-item navbar-wagon-link" alt="En construction">Expériences</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Formations</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Side-projects</a> -->
    <a href="https://calendly.com/tatronche/amins-bhs-15" target="_blank" class="navbar-wagon-item navbar-wagon-link book_green_navbar">Réserver un call 📞</a>


    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <a href="https://calendly.com/tatronche/amins-bhs-15" target="_blank" class="navbar-wagon-item navbar-wagon-link book_green_navbar">Réserver un call 📞</a>

    <!-- <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Expériences</a></li>
        <li><a href="#">Formations</a></li>
        <li><a href="#">Side-projects</a></li>
      </ul>
    </div> -->
  </div>
</div>
