---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="intro">
          <h1>Amin Bouhassoune 👋</h1>
          <h2 class="job">Growth Hacker Freelance</h2>
            <div class="dispo">
              <div class="circle_green"></div>
              <p class="dispo_text">Disponible</p>
            </div>
          </div>
          <div class="bio">
            <p>Je vous aide à augmenter l’acquisition B2B/B2C de votre startup que ce soit dans la partie stratégique ou opérationnelle.</p>
          </div>
          <div class="skills">
            <div class="skill">Automatisation</div>
            <div class="skill">Cold Emailing</div>
            <div class="skill">Acquisition</div>
          </div>
          <div class="call_to_action">
            <a class="book_green" target="_blank" href="https://calendly.com/tatronche/amins-bhs-15">Réserver un call 📞</a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 my_photo">
          <%= image_tag "images/amin_bouhassoune.png" %>
        </div>
      </div>
    </div>
  </div>
</div>
